<h1>Administrador</h1>
<hr>


<div class="row ">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/estudiante', 'nuevo']" class="btn btn-outline-primary" type="button" name="button">Nuevo estudiante</button>



    </div>
</div>
<br/><br/>

<div class="row row animated fadeIn fast">

    <div class="col-md-12">

        <div class="table-responsive">

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Carnet</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Carrera</th>
                        <th scope="col">Monitoria</th>
                        <th scope="col">Promedio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>



        </div>

    </div>
</div>